<?xml version="1.0" encoding="UTF-8"?>
<dictionary>
    <locale name="pl">
        <message key="springDay2016EventFilterLabel">wiosennie</message>
        <message key="springDay2016FriendRequestMessage">Utwórz wydarzenie lub zaproś znajomych na sprzątanie wiosennego stawu</message>
        <message key="springDay2016Flower">Kwiaty do stawu</message>
        <message key="springDay2016Fish">Ryby do stawu</message>
        <message key="springDay2016Droplet">Siła witalna</message>
        <message key="springDay2016DropletLootDescription">można zdobyć w ramach jesiennej promocji</message>
        <message key="springDay2016PlantFlowerButtonTitle">zasadź</message>
        <message key="springDay2016FriendHint">Tutaj można zdobyć „siłę witalną”!</message>
        <message key="springDay2016LeftTime">do :stage: etapu :time:</message>
        <message key="sd16flower">Staw z kwiatami</message>
        <message key="sd16filter">Staw z czystą wodą</message>
        <message key="springDay2016Stage1Title">1. etap</message>
        <message key="springDay2016Stage2Title">2. etap</message>
        <message key="springDay2016Stage3Title">3. etap</message>
        <message key="springDay2016Stage4Title">4. etap</message>
        <message key="springDay2016NPCActorName">Duch stawu</message>
        <message key="springDay2016stage1NPCMessage1">Poproś znajomych o oczyszczenie stawu z wodorostów</message>
        <message key="springDay2016stage1NPCMessage2">Staw jest coraz brudniejszy</message>
        <message key="springDay2016stage1NPCMessage3">Cały staw pokrył się wodorostami</message>
        <message key="springDay2016stage2NPCMessage1">Zasadź kwiaty wokół stawu</message>
        <message key="springDay2016stage2NPCMessage2">Staw ma za mało kwiatów</message>
        <message key="springDay2016stage2NPCMessage3">Z kwiatami byłoby ładniej</message>
        <message key="springDay2016stage3NPCMessage1">Oczyść wodę w stawie</message>
        <message key="springDay2016stage3NPCMessage2">Woda w stawie jest bardzo brudna</message>
        <message key="springDay2016stage3NPCMessage3">W stawie nie ma „siły witalnej”</message>
        <message key="springDay2016stage4NPCMessage1">Zaryb staw</message>
        <message key="springDay2016stage4NPCMessage2">Staw potrzebuje ryb</message>
        <message key="springDay2016stage4NPCMessage3">Bez ryb jest taki pusty</message>
        <message key="springDay2016CreateRoomTitle">Stworzyć pokój?</message>
        <message key="springDay2016CreateRoomMessage">Dbaj o staw i zdobywaj miłe bonusy!</message>
        <message key="springDay2016WelcomeDialogTitle">Święto wiosny i słońca</message>
        <message key="springDay2016WelcomeDialogMessageTop1">Zaproś znajomych w gości, abyście razem mogli usunąć ze stawu wodorosty</message>
        <message key="springDay2016WelcomeDialogMessageTop2">Pracuj w parku i na ulicy, zbierz wystarczającą ilość „siły witalnej” i zrób z niej kwiaty</message>
        <message key="springDay2016WelcomeDialogMessageTop3">Pracuj w parku i na ulicy, zbierz wystarczającą ilość „siły witalnej”, aby oczyścić wodę w stawie</message>
        <message key="springDay2016WelcomeDialogMessageTop4">Pracuj w parku i na ulicy, zbierz wystarczającą ilość „siły witalnej” i zrób z niej rybki</message>
        <message key="springDay2016WelcomeDialogMessageMiddle1">Zdobądź nagrodę za oczyszczenie stawu i ruszaj dalej!</message>
        <message key="springDay2016WelcomeDialogMessageMiddle2">Zasadź kwiaty wokół stawu</message>
        <message key="springDay2016WelcomeDialogMessageMiddle3">Oczyść wodę w stawie</message>
        <message key="springDay2016WelcomeDialogMessageMiddle4">Zaryb staw</message>
        <message key="springDay2016WelcomeDialogMessageBottom1">Oczyść staw, ozdób go i tchnij w niego życie. W nagrodę zdobędziesz jeszcze jedną piękną i cenną lokację, a także wiele ciekawych nagród.</message>
        <message key="springDay2016WelcomeDialogMessageBottom4">Zdobądź ostatnią nagrodę i ukończ akcję</message>
        <message key="springDay2016ProgressDialogTitle">Wiosenny staw</message>
        <message key="springDay2016StageTitle">:stage: etap</message>
        <message key="springDay2016St1Sb1Description">Poproś znajomych o pomoc w sprzątaniu stawu</message>
        <message key="springDay2016St1Sb2Description">Teraz możesz zakończyć sprzątanie stawu</message>
        <message key="springDay2016St2Sb1Description">Zbieraj „siłę witalną”, aby stworzyć kwiaty i zasadzić je</message>
        <message key="springDay2016St2Sb2Description">Teraz możesz zasadzić kwiaty wokół stawu</message>
        <message key="springDay2016St3Sb1Description">Zbieraj „siłę witalną”, aby oczyścić wodę w stawie</message>
        <message key="springDay2016St3Sb2Description">Teraz możesz oczyścić wodę w stawie</message>
        <message key="springDay2016St4Sb1Description">Zbieraj „siłę witalną”, aby stworzyć rybki i wpuścić je do stawu</message>
        <message key="springDay2016St4Sb2Description">Teraz możesz wpuścić rybki do stawu</message>
        <message key="springDay2016AskDialogTitle">Pomoc znajomych!</message>
        <message key="springDay2016AskDialogMessage">Poproś znajomych o pomoc w sprzątaniu twojego stawu</message>
        <message key="springDay2016AwardDialogMessage">Dajemy ci tę wspaniałą nagrodę za zaliczony etap. Tylko tak dalej! Podziel się tą nowością ze znajomymi!</message>
        <message key="springDay2016WallMessage1">Udało mi się zdobyć wspaniałą nagrodę za zaliczony etap. Też taką chcesz? Czekam na ciebie w grze! :link:</message>
        <message key="springDay2016WallMessage2">Przyjaciele, chcę dostać wyjątkowy prezent w grze „Awataria” i potrzebuję waszej pomocy. Bez was mi się uda! :link:</message>
        <message key="springDay2016WallMessage3">Przyjaciele, bez was nie dam sobie rady z oczyszczaniem stawu w grze „Awataria”. Czekam w grze! :link:</message>
    </locale>
</dictionary>